#elements-pills {
    margin-bottom: 1em;
}

.tabs-list-2 li a {
    border-radius: 15px;
}

a.navbar-brand {
    padding: 7px;
}

a.navbar-brand img {
    width: 200px;
}


@media only screen and (max-width: 767px) {
    .mainmenu-area #mainmenu {
        background: linear-gradient(to bottom, #0c1d3c 0%, #000000 100%);
    }
}
