#elements-pills {
    margin-bottom: 1em;
}

.elements-carousel .carousel-slide {
    background-color: #ffffff;
    padding: 80px 100px 50px 100px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 3px;
}

.elements-carousel .owl-controls .owl-nav > div {
    position: absolute;
    left: -25px;
    top: 50%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.elements-carousel .owl-controls .owl-nav > div.owl-next {
    left: auto;
    right: -25px;
}

#basic-test-area .service-box input[type=text].form-control {
    padding: 4px;
}
#basic-test-area .service-box .box-drawer {
    max-height: 0;
    transition: 300ms;
    overflow: hidden;
}
#basic-test-area .service-box .box-drawer.open {
    max-height: 600px;
    transition: 1s;
}
.tabs-list-2 li a {
    border-radius: 15px;
}

a.navbar-brand {
    padding: 7px;
}

a.navbar-brand img {
    width: 200px;
}

.col-bottom-margin {
    margin-bottom: 1em;
}

.icofont {
    padding: 7px;
}

@media only screen and (max-width: 990px) {
    .service-box {
        margin-bottom: 2em;
    }
}
@media only screen and (max-width: 767px) {
    .mainmenu-area #mainmenu {
        background: linear-gradient(to bottom, #0c1d3c 0%, #000000 100%);
    }
}

